.category-main{
    margin-top: 2rem;
    margin-left: 4rem;
}

.title p{
    font-size: 50px;
    color: var(--primary-color);
    font-weight: 500;
}

.category img{
    margin-top: 2rem;
    height: 276px;   
}

.category p{
    margin-top: 1rem;
    font-size: 25px;
    color: var(--primary-color);
    font-weight: bold;
}

.ring{
    max-width: 413px;
}

.rings-txt{
    text-align: center;
}

.category{
    display: flex;
    gap: 3rem;
}
