.category-main{
    margin-top: 2rem;
    margin-left: 4rem;
}

.title p{
    font-size: 50px;
    color: var(--primary-color);
    font-weight: 500;
}

.category img{
    margin-top: 2rem;
    height: 276px;   
}

.category p{
    margin-top: 1rem;
    font-size: 25px;
    color: var(--primary-color);
    font-weight: bold;
}

.ring{
    max-width: 413px;
}

.rings-txt{
    text-align: center;
}

.category{
    display: flex;
    gap: 3rem;
}
.photo {
    margin-top: 10rem;
    margin-left: 7rem;
    overflow: hidden; 
    width: 80%;
}

.photo-img {
    display: flex;
    width: 400%; /* Width of all images combined */
    animation: slide 40s linear infinite;
}

.photo-img img {
    width: 25%; /* Each image takes up 25% of the total width */
    height: 439px;
    object-fit: cover; 
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-75%);
    }
    100% {
        transform: translateX(-100%);
    }
}
